<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você solicitou uma recuperação de senha</p>
  <p>Acesse o link abaixo para resetar sua senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi você quem fez essa solicitação, ignore este email!</p>
  <p>Obrigado!<br/>
    <strong>Equipe Trigger Warning</strong>
  </p>
</div>
